<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Comments</title>
	</head>
	<body>
		<h2>Comments</h2>
		<ul>
			<% for(let comment of comments){ %>
			<li>
				<%= comment.comment %> ~<b><%= comment.name %></b>
				<a href="/comments/<%=comment.id%>">Details</a>
				<a
					href="/comments/<%=comment.id%>/edit"
					style="
						font-family: sans-serif;
						text-decoration: none;
						color: green;
						font-weight: 700;
						text-transform: uppercase;
					"
					>Edit</a
				><br />
				<form method="POST" action="/comments/<%=comment.id%>?_method=DELETE">
					<button>DELETE</button>
				</form>
			</li>
			<%}%>
		</ul>
		<section>
			<a href="/comments/new">New Comment</a>
		</section>
	</body>
</html>
